/* FlySafe specific css styles */

[data-testid="open-viewpresets"] {
    display: none;
  }

[data-testid="split-horizontal-btn"] {
    display: none;
  }

[data-testid="viewpreset-options-toolbutton"] {
    display: none;
  }

#viewpreset-options-toolbutton {
    display: none;
  }

div.mosaic-window-title {
    display: none;
  }

[data-testid="zoom-reset"] {
    position: relative;
    left: 0px;
    top: 20px;
  }

[data-testid="zoom-in"] {
    position: relative;
    left: 25px;
    top: -12px;
  }

[data-testid="zoom-out"] {
    position: relative;
    left: 50px;
    top: -44px;
  }

#graphContainer {
    width: 100%;  /* take up the full width of the parent container */
    height: 40vh; /* viewport height units */
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
