/* *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * Copyright 2022 - Koninklijk Nederlands Meteorologisch Instituut (KNMI)
 * Copyright 2022 - Finnish Meteorological Institute (FMI)
 * */

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

#root {
  height: 100%;
}


/* FlySafe specific css styles */

[data-testid="open-viewpresets"] {
  display: none;
}

[data-testid="split-horizontal-btn"] {
  display: none;
}

[data-testid="viewpreset-options-toolbutton"] {
  display: none;
}

#viewpreset-options-toolbutton {
  display: none;
}

div.mosaic-window-title {
  display: none;
}

[data-testid="zoom-reset"] {
  position: relative;
  left: 0px;
  top: 20px;
}

[data-testid="zoom-in"] {
  position: relative;
  left: 25px;
  top: -12px;
}

[data-testid="zoom-out"] {
  position: relative;
  left: 50px;
  top: -44px;
}

#graphContainer {
  width: 100%;  /* take up the full width of the parent container */
  height: 40vh; /* viewport height units */
}

.line {
fill: none;
stroke: steelblue;
stroke-width: 2px;
}


#firstDiv {
  height: 10%;
  margin: 20px;
}

#secondDiv {
  height: 90%;
  background-color: #999999;
}